.label{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15px;
}

.label-main{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 19px;
}
.text-field{
    -fx-background-color: #76b7b2;
}
.button-name{
    -fx-background-color: #817e7e;
    -fx-text-fill: #ffffff;
}
.button-2{
    -fx-background-color: #817e7e;
    -fx-text-fill: #ffffdf;
}
/* The ListCell that shows the selected item in a non-editable ComboBox */
.combo-box .list-cell {
    -fx-background-color: #95cbc6;
}

/* Style the arrow button area */
.combo-box .arrow-button {
    -fx-background-color: lightgray;
}
/* The TextField that shows the selected item in an editable ComboBox */
.label-error{
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #76b7b2;
    -fx-opacity: 1;
    -fx-text-alignment: center;
}
